<%-include("navbar.ejs")%>;

<form action="/save_employee" method="post">
<div class="container border shadow p-3" style="background-color: lavender">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3 style="text-shadow:3px 3px skyblue;">Employee Details</h3>
        </div>
        <div class="col-md-4">
            Employee Name 
            <input type="text" name="employee_name" class="form-control">
        </div>
        <div class="col-md-4">
            Employee Mobile 
            <input type="number" name="employee_mobile" class="form-control">
        </div>
        <div class="col-md-4">
            Employee Type
            <select name="employee_type" class="form-control">
                <option>Choose Employee Type ▼</option>
                <option>Manager</option>
                <option>Chif</option>
                <option>Waiter</option>
            </select>
        </div>
        <div class="col-md-12 text-center"><br>
            <button class="btn btn-primary">Save Employee</button>
        </div>
    </div>
</div>
</form>

<div class="container p-3 mt-5 border shadow" style="background-color: lavender">
    <div class="row">
        <div class="col-md-12 mb-3">
            <h3 style="text-shadow:3px 3px skyblue;">Bill History</h3>
        </div>
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Action</th>
                    <th>SR.NO</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Type</th>
        
                </tr>
                <% employees.map((row,i)=> { %>
                    <tr>
                        <td></td>
                        <td><%- i+1 %></td>
                        <td><%- row.employee_name %></td>
                        <td><%- row.employee_mobile %></td>
                        <td><%- row.employee_type %></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
</div>









<%-include("footer.ejs") %>;
